<div class="container">
  <div class="timer">
    {{time}}
  </div>
  <div class="problem-list">
    <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="scroller">
      <div *cdkVirtualFor="let item of randomProblemList" class="scroller-item" [innerHtml]="item"></div>
    </cdk-virtual-scroll-viewport>
  </div>
  <div class="actions">
    <button mat-fab class="start-pause-button" (click)="startOrPauseTimer()">
      <mat-icon>{{startOrPauseIcon}}</mat-icon>
    </button>
    <button mat-fab class="stop-button" (click)="stopTimer()" [disabled]="timerStatus !== 'paused'">
      <mat-icon>stop</mat-icon>
    </button>
  </div>
</div>